<header class="header h-card p-contact">
  <div class="header-name">
    <h1 class="p-name">{{ cv.site.name }}</h1>
  </div>

  <ul class="social-links" aria-label="Social links">
    {% for link in cv.social %}
      <li>
        <a href="{{ link.url }}" target="_blank" rel="me noreferrer" title="{{ link.title }}" class="u-url social-icon-link social-icon-{{ link.title | lower | replace(' ', '-') }}">
          {% if link.kind == "image" %}
            <img class="social-image" src="{{ link.imageUrl }}" alt="{{ link.title }}" />
          {% else %}
            <i class="{{ link.icon }}" aria-hidden="true"></i>
          {% endif %}
          <span class="sr-only">{{ link.title }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>

  {% if cv.site.image %}
    <img class="profile-image u-photo" src="/{{ cv.site.image }}" alt="{{ cv.site.name }}" />
  {% endif %}

  <div class="header-details">
    {% if cv.site.title %}<p class="subtitle p-job-title">{{ cv.site.title }}</p>{% endif %}
    <div class="meta">
      <a class="u-email" href="mailto:{{ cv.site.email }}">{{ cv.site.email }}</a>
      {% if cv.site.contact.phone %}
        <a class="p-tel" href="tel:{{ cv.site.contact.phone | replace(' ', '') }}">{{ cv.site.contact.phone }}</a>
      {% endif %}
      {% if cv.site.website %}
        <a class="u-url" href="{{ cv.site.website }}">{{ cv.site.website }}</a>
      {% endif %}
    </div>
  </div>
</header>
