<aside class="qr-notice no-screen" aria-hidden="true">
  <div class="qr-code">{% qrcode cv.site.website %}</div>
  <p>You are reading the print version of my CV. Scan the code or visit
     <strong>{{ cv.site.website }}</strong> for the online version with additional
     information and links.</p>
</aside>
